<div class="devise-wrapper">
  <main class="form-signin">
    <%#= image_tag "icons/logo_black.svg", height: '100', class: "mb-4", id: "devise-logo" %>
    <%= inline_svg_tag("icons/logo_black.svg", options={height: "6.4em", id: "devise-logo", style: "margin-bottom:2em;"}) %>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h1 class="h3 mb-3 font-weight-normal">Please Log in</h1>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email address", class: "form-control" %>
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "form-control" %>
      <% if devise_mapping.rememberable? %>
        <div class="checkbox mb-3">
          <%= f.check_box :remember_me, class: "form-check-input" %>
          <%= f.label :remember_me, class: "form-check-label" %>
        </div>
      <% end %>
      <%= f.submit "Log in", class: "btn btn-lg btn-primary w-100 btn-block mb-3" %>
    <% end %>
    <%= render "devise/shared/links" %>
    <p class="mt-5 mb-3 text-muted">&copy; 2020-2021</p>
  </main>
</div>
